*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%; /* conversion so that 0.5rem = 5px , 1rem = 10px*/
}
body{
    background-image: linear-gradient(120deg, rgb(167, 160, 160) ,rgb(143, 143, 179));
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: azure;
}
header,form,.todocontainer{
    display: flex;
    justify-content:center ;
    align-items: center;
    flex-direction: column;
}
header,form{
min-height: 20vh ;
}
form{
    flex-direction: row;
}
h1{
  font-size: 5rem; 
}
form>input{
    width:30%;
}
form>button{
    color: rgb(143,143,179) ;
}
form>button:hover{
   color:rgb(5, 5, 100) ;
}
.todolist{
    min-width:40%;
    list-style: none;
  
} 
.itemContainerstyle{
    background-color: white;
    display: flex;
    margin-bottom: 2rem;
    transition: all 0.3s 1s;
}

.itemliststyle,.completedButton,.deleteButton{
    padding:1.5rem;
    font-size:1.5rem;
    border:none;
  
   
}
.itemliststyle{
    color:black;
    flex:1;
    
}


.completedButton,.deleteButton{
    cursor: pointer;
}
.completedButton{
    background-color:white ;
   
    color: rgb(228, 19, 19);

}
.completedButton:hover{
    background-color:rgb(228,19,19) ;
    color:white;
}
.deleteButton{
    background-color: white;
    color:rgb(8, 139, 8) ;
    
}
.deleteButton:hover{
    color: white;
    background-color:rgb(8, 139, 8) ;
}
.fa-trash,.fa-check{
    pointer-events: none;
}


.completed1{
    text-decoration: line-through;
    opacity: 0.5;
  
}

.rotate{
    transform:translateY(8rem) rotateZ(20deg);
    opacity:0;
}



ul{
    list-style: none;
}


#todo,#submitbutton{
    padding:0.5rem;
    font-size: 1.5rem;
    background-color: white;
    border: none;
}


select{
    appearance: none;
    border:none;
    outline:none;
    margin: 1rem;
    overflow: hidden;
    color:grey;
    padding: 1rem;
    
}
.select{
    cursor: pointer;
}
